body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 12px;
  }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
#wrapper1{
    width: 100%;
}
#head, #content1, #foot {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg_bg_min.jpg) no-repeat; 
    background-size: contain;  
 
}
.mod-logo{
    position: fixed;
    left: 70px;
    top: 60px;
}
.mod-logo img{
    width: 124px;
    height: 40px;
}
.mod-text{
    position: fixed;
    left: 195px;
    top: 314px;
    color: #fff;
}
.mod-text h3{
    font-size: 54px;
    letter-spacing: 0;
    font-weight: 700;
}
.mod-text p{
    font-size: 32px;
    letter-spacing: 3.81px;
    font-weight: 300;
}
.mod-footer{
    position: fixed;
    left: 70px;
    bottom: 57px;
    font-size: 14px;
    color: #fff;
}
.mod-help a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.mod-help-text a{
    opacity: .8;
}
.mod-line{
    display: inline-block;
    width: 2px;
    height: 12px;
    filter: alpha(opacity=78);
    opacity: .78;
    margin: 0 12px 0 13px;
    background: #fff;
    position: relative;
    top: 1px;
}
.mod-service{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/service-2x.png) no-repeat;
    background-size: 100%;
    position: relative;
    top: 3px;
}
.mod-copy{
    opacity: .54;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    padding-left: 30px;
}
.mod-new-content{
    height: 518px;
    margin-top: -259px;
    position: absolute;
    right: 139px;
    top: 50%;
    width: 480px;
    background: rgba(255,255,255,.9);
    border-radius: 12px;
    overflow: hidden;
}
.fix {
    zoom: 1;
}
.new-login{
    margin: 30px 0 0 39px;
}
.new-login h3{
    font-size: 36px;
    color: #000;
    padding-bottom: 4px;
}
.new-login p{
    font-size: 14px;
    color: #9B9B9B;
}
.new-login p span{
    color: #2e58ff;
    cursor: pointer;
    font-size: 14px;
}
.pass-reg{
    padding-top: 40px;
    overflow: initial;
    position: relative;
    width: 720px;
}
.regcontent{
    float: left;
}
.pass{
    width: 720px;
    height: 40px;
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
}
.passlabel{
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    text-align: right;
    width: 82px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    font-weight: 200;
    display: block;
    float: left;
}
.passtextinput{
    padding: 11px 10px;
    max-height: 40px;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    width: 321px;
    color: #000;
    display: block;
    position: relative;
    float: left;
    height: 16px;
    transition: .3s;
}
.texterror{
    border-color: #fc4343;
}
.passerror{
    width: 332px;
    color: #fff;
    padding-left: 0;
    top: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 9px 0 6px 13px;
    font-size: 12px;
}
.passerror-userName{
    font-size: 12px;
    color: #F55;
    background: 0 0;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    left: 97px;
    top: 43px;
}
.passsucc{
    left: -38px;
    top: 12px;
    background: url(https://passport.baidu.com/static/passpc-account/img/setpwd-success-2x.png) no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: relative;
    float: left;
    top: 14px;
    color: #fc4343;
    height: 16px;
    line-height: 12px;
    padding-left: 20px;
}
.passtip{
    width: 350px;
    height: 39px;
    position: absolute;
    left: 97px;
    top: -46px;
    text-align: center;
    color: #fff;
    background: url(https://passport.baidu.com/static/passpc-account/img/reg/check-username-bg-2x.png) no-repeat;
    background-size: 100%;
}

.passtiptext{
    display: block;
    padding-top: 12px;
}
.passtiptext-userName{
    padding: 7px 0;
}
.passtextinput-verifyCode{
    width: 184px;
    margin-right: 9px;

}
.passsubmit{
    padding-top: 40px;
    margin-top: 0;
    left: 41px;
    position: relative;
    margin-bottom: 20px;
}
.passsubmitbutton{
    background-color: #4490f7;
    border-radius: 25px;
    width: 399px;
    height: 50px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}
.passisAgree{
    margin-left: 41px;
    width: 399px;
    text-align: center;
}
.pass-verifyCodeSend{
    margin-bottom: 0;
}
.passbutton{
    width: 126px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #E0E0E0;
    font-size: 12px;
    color: #333;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    height: 40px;
    font-weight: 400;
    float: left;
    margin-right: 10px;
}
.pwd{
    background: 0 0;
    box-shadow: none;
    border: 0;
    padding: 8.8px 0;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    margin-left: 9px;
    width: 317px;
}


